<!-- Header -->
<%- include('./partials/head.ejs') %>

<% if (true) { %>
<%- include('./partials/headerLogueado.ejs') %>
<% } else {%>
<%- include('./partials/headerNormal.ejs') %>
<% } %>

<!-- /Header -->

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Registrate</h2>
        </div>
        !-- Show the "ultimos" products -->
        <h2 class="col-12"> </h2>


        <form action="" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <label for="birthdate">Fecha de nacimiento:</label>
            <input type="date" id="birthdate" name="birthdate" required>

            <input type="submit" value="Enviar">

        </form>



        !-- footer -->

        <%- include('./partials/footer') %>

        !-- /footer -->